.categories-grid-accordion-body {
    padding:1.25rem 1.25rem 0 !important;
}

.categories-grid-accordion-ul {
    margin: 0 !important;
    padding-left: 0 !important;
}

.categories-grid-accordion-li {
        list-style-type: none !important;
}

.pagination ul {
    margin-bottom: 0;
}

.grid-view-link {
    margin:0 0 0 18px !important; 
    padding:0.75rem 2.75rem !important;
}

.settings-accordion-button {
    margin: 0 !important;
}

.custom-checkbox {
    width: 15px !important;
    position: relative;
    top: 10px;
}